* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	color: black;
}

p {
	font-size: 15px;
	font-weight: 300;
	color: #bcbbbb;
}

body {
	font-size: 1.3em;
}

h1 {
	color: #676857;
	font-size: 1.5em;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 0px;
}

h2 {
	color: #bcbbbb;
	font-size: 20px;
	font-weight: 500;
	margin-top: 0px;
	margin-bottom: 10px;
}

h3 {
	font-size: 20px;
	font-weight: 400;
	color: #676857;
	margin: 0 0 0 0;
	text-align: middle;
}

h4 {
	margin: 0px;
	font-size: 20px;
	font-weight: 300;
	color: #D0C4AB;
}

.full-img {
	width: 100%;
	height: auto;
}

.img-90 {
	width: 90%;
	height: auto;
}

.blackback {
	background-color: #131A2D;
	padding-top: 10px;
	padding-bottom: 10px;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.col-1 {
	width: 8.33%;
}

.col-2 {
	width: 16.66%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.33%;
}

.col-5 {
	width: 41.66%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.33%;
}

.col-8 {
	width: 66.66%;
}

.col-9 {
	width: 75%;
}

.col-10 {
	width: 83.33%;
}

.col-11 {
	width: 91.66%;
}

.col-12 {
	width: 100%;
}

.grid {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.nomarg {
	margin-bottom:0px;
}

.rowtop {
	max-width: 970px;
	width: 100%;
	display: flex;
	margin: 0 auto 0 auto;
}

.row {
	max-width: 970px;
	width: 100%;
	display: flex;
	margin: 0 auto 0 auto;
}

@media (max-width: 500px) {
	.row {
		max-width: 970px;
		width: 100%;
		display: block;
		margin: 0 auto 0 auto;
	}
	.row .col-4{
		width: 100% !important;
	}
}

.top-row {
	margin: 10px 0 0 0;
}

.botbord {
	border-bottom: 3px solid #D5245B;
	margin-bottom: 10px;
}
